@charset "UTF-8";

* {
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,#52b788, #95d5b2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #081c15;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #081c15;
    text-align: center;
    text-shadow: 1px 1px 2px #247e5ec5;
}

h2 {
    color: #2d6a4f;
}

p {
    text-align: justify;
}